@font-face {
  font-family: 'Arcade Classic';
  src: url('../fonts/arcade_classic.ttf');
}
@font-face {
  font-family: 'True Lies';
  src: url('../fonts/true_lies.ttf');
}
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 14px;
  font-family: sans-serif;
}
.clear {
  display: block;
}
.clear:after {
  content: "";
  display: block;
  clear: both;
}
.top-wrapper {
  background-image: url('../resources/background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 25px;
}
h1 {
  text-align: center;
  padding-top: 15px;
}
h1 .true-lies {
  font-family: 'True Lies';
}
h1 .arcade-classic {
  font-family: 'Arcade Classic';
}
.characters {
  text-align: center;
  font-size: 32px;
}
.character {
  display: inline-block;
  width: 20px;
  margin: 0 10px;
  border-bottom: 1px solid #000000;
  height: 30px;
  text-transform: capitalize;
}
[ng-click] {
  cursor: pointer;
}
[disabled] {
  opacity: .3;
  cursor: default;
}
keyboard-dir {
  display: block;
  border-top: 1px solid #cdcdcd;
  padding-top: 15px;
}
keyboard-dir div {
  text-align: center;
}
keyboard-dir span {
  width: 8%;
  display: inline-block;
  padding: 2% 0;
  border: 1px solid #cdcdcd;
  margin: 2px .5%;
  text-transform: capitalize;
  background: #4f4fff;
  color: #ffffff;
}
svg {
  max-height: 50vh;
}
button {
  display: block;
  border: 0;
  background: #4f4fff;
  color: #ffffff;
  padding: 5px 10px;
}
.lightbox:before {
  position: fixed;
  content: '';
  background: #000000;
  opacity: .3;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.lightbox .content {
  position: fixed;
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid #cdcdcd;
  top: 30%;
  left: 50%;
  width: 300px;
  margin-left: -150px;
  padding: 30px;
  text-align: center;
}
.lightbox .content button {
  margin: 15px auto;
}
